# Database — uses environment variables on Render
spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/bug_tracker}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:root}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:Vikas2808007@}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

# Server
server.port=${PORT:8080}

# JWT
app.jwt.secret=${APP_JWT_SECRET:bugtrackerSecretKey2024SuperLongKeyForHMACSHA256Algorithm}
app.jwt.expiration=${APP_JWT_EXPIRATION:604800000}

# AI
openai.api.key=YOUR_GROQ_API_KEY
openai.api.url=${OPENAI_API_URL:https://api.groq.com/openai/v1/chat/completions}
openai.model=${OPENAI_MODEL:llama-3.3-70b-versatile}

# Silence warning
logging.level.org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer=ERROR

# Jackson - clean date format
#spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS=false
